.sotial__item, .menu__list, .logo, .menu, .sotial, .contacts{
    display: inline-block;
}

.footer{
    margin-top: 53px;
    background-color: #17191C;
    position: relative;
    padding-bottom: 57.36px;
}

.footer__container{
    border-top: 4px solid #252729;
    /* opacity: 0.1; */
}

.contacts__end{
    width: 163px;
    height: 20px;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    margin-left: 23px;
}
.contacts__phone{

    width: 191px;
    height: 20px;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
}


.sotial{
    margin-top: 49px;
    margin-left: 505px;
    margin-right: 0;
}

.sotial__item{
    margin-top: 0;
    margin-left: 10px;
    width: 36px;
    height: 36px;
}
.sotial__item:first-child{
    margin-left: 0;
}

.menu--footer{
    font-size: 14px;
    line-height: 19.07px;
    font-weight: 400;
    /* margin-top: 59px; */
    margin-left: 130px;
    position: absolute;
    top: 20px;
}
.menu__link--main{
    width: 56px;
    height: 19px;
}
.menu__link--services{
    width: 46px;
    height: 19px;
}
.menu__link-reviews{
    width: 54px;
    height: 19px;
}

.logo--footer{
    margin-top: 40;
}
.contacts--footer{
    margin-top: 42;
}
