.header{
    position: relative;
}

.header__container{
    height: 77px;
    width: 1142px;
}

.menu__item{
    display: inline-block;
}
.menu__link{
    text-decoration: none;
}

.contacts__phone{
    width: 191px;
    height: 35px;
    font-size: 26px;
    line-height: 35.41px;
    font-weight: 400;
}

.menu{
    margin-left: 241px;
}
