.hello__container{
    text-align: center;
/*     width: 781px;
    height: 197px; */
    text-align: center;
    background:none;
    position: relative;
}

.hello__title{
    margin-top: 157px;
    font-weight: 800;
    font-size: 72px;
    font-style: normal;
    line-height: 98px;
    text-transform: uppercase;
}

.hello__text{
    margin-top: 17.5px;
    margin-right: 0;
    text-align: center;
}

.button--hello{
    margin-top: 23px;
    position: absolute;
    left: 37%;
}

